@model DA_WebBanSach.Models.NhanVienModel
@{
    ViewBag.Title = "Thêm Nhân Viên";
}
<ul class="breadcrumb">
      <li><a href="@Url.Action("Index","Home")">Quản Lý</a><span class="divider">&raquo;</span></li>
      <li><a href="@Url.Action("Index","NhanVien")">Nhân Viên</a><span class="divider">&raquo;</span></li>
      <li>Thêm Nhân Viên</li>
</ul>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div class="span12 marg-cl">
        <div class="nonboxy-widget">
            <div class="widget-head">
                <h5> Thêm Mới Nhân Viên </h5>
            </div>
            <div class="widget-content">
                <div class="widget-box">
                    <div id="horizontal-wizard" class="content-wizard">
                        <ul class="clearfix">
                            <li><a href="#step-1"><span class="stepNumber">1</span> <span class="stepDesc">Bước
                                1 <small>Thông Tin Nhân Viên</small></span></a></li>
                            <li><a href="#step-2"><span class="stepNumber">2</span> <span class="stepDesc">Bước
                                2 <small>Email & Mật Khẩu</small></span></a></li>
                            <li><a href="#step-3"><span class="stepNumber">3</span> <span class="stepDesc">Bước
                                3 <small>Địa Chỉ</small></span></a></li>
                            <li><a href="#step-4"><span class="stepNumber">4</span> <span class="stepDesc">Bước
                                4 <small>Phân Công Công Việc</small></span></a></li>
                        </ul>
                        <div id="step-1">
                            <h2 class="StepTitle">
                                Bước 1 Thông Tin Nhân Viên
                            </h2>
                            <br />
                            <table>
                                <tr>
                                    <td align="right">
                                        Họ Tên: 
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.HoTen)
                                        @Html.ValidationMessageFor(model => model.HoTen)
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">
                                        Tên Đăng Nhập: 
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.UserName)
                                        @Html.ValidationMessageFor(model => model.UserName)
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">
                                        Ngày Sinh: 
                                    </td>
                                    <td>
                                        <div class="input-append date" id="datepicker" data-date="01-01-2013" data-date-format="dd-mm-yyyy">
								            <div class="control-group">
									            <div class="controls">
										            <div class="input-append">
                                                        @Html.EditorFor(model => model.NgaySinh)
                                                        @Html.ValidationMessageFor(model => model.NgaySinh)
											            <span class="add-on margin-fix"><i class="icon-th"></i></span>
										            </div>
									            </div>
								            </div>
							            </div> 
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">
                                        Giới Tính: 
                                    </td>
                                    <td>
                                        @Html.DropDownList("GioiTinh")
                                        @Html.ValidationMessageFor(model => model.GioiTinh)
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">
                                        Điện Thoại: 
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.DienThoai)
                                        @Html.ValidationMessageFor(model => model.DienThoai)
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">
                                        Ngày Vào Làm: 
                                    </td>
                                    <td>
                                        <div class="input-append date" id="datepicker2" data-date="01-01-2013" data-date-format="dd-mm-yyyy">
								            <div class="control-group">
									            <div class="controls">
										            <div class="input-append">
                                                        @Html.TextBox("ngayvaolam")
											            <span class="add-on margin-fix"><i class="icon-th"></i></span>
										            </div>
									            </div>
								            </div>
							            </div> 
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="step-2">
                            <h2 class="StepTitle">
                                Bước 2 Email & Mật Khẩu</h2>
                            <table>
                                <tr>
                                    <td align="right">Email: </td>
                                    <td>
                                        @Html.EditorFor(model => model.Email)
                                        @Html.ValidationMessageFor(model => model.Email)
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="step-3">
                            <h2 class="StepTitle">
                                Bước 3 Địa Chỉ</h2>
                            <table>
                                <tr>
                                    <td align="right">Địa Chỉ: </td>
                                    <td>
                                        @Html.EditorFor(model => model.DiaChi)
                                        @Html.ValidationMessageFor(model => model.DiaChi)
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">Quận: </td>
                                    <td>
                                        @Html.EditorFor(model => model.Quan)
                                        @Html.ValidationMessageFor(model => model.Quan)
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">Thành Phố: </td>
                                    <td>
                                        @Html.EditorFor(model => model.ThanhPho)
                                        @Html.ValidationMessageFor(model => model.ThanhPho)
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="step-4">
                            <h2 class="StepTitle">
                                Bước 4 Chức Vụ</h2>
                            <table>
                                <tr>
                                    <td>
                                        @foreach (string item in ViewBag.Roles)
                                        {
                                            <input type="checkbox" name="chk@{@item}" @if (item.Equals("BanHang"))
	                                        {
		                                        @:checked="checked"
	                                        }  /> @item <br />
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right"></td>
                                    <td>
                                        <input type="submit" value="Thêm Mới" class="btn btn-success" /> 
                                        <a href="@Url.Action("Index", "NhanVien")" class="btn btn-info">Trở Về Trang Nhân Viên</a> 
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
}

