@model IEnumerable<DA_WebBanSach.Models.KhoHang>

@{
    ViewBag.Title = "Index";
}

<ul class="breadcrumb">
      <li><a href="@Url.Action("Index","Home")">Quản Lý</a><span class="divider">&raquo;</span></li>
      <li>Kho Hàng</li>
</ul>
<div class="row">
    <div class="span12">
        <div class="widget-block">
            <div class="widget-head">
                <h5>
                    Danh Sách Kho Hàng</h5>
                <div class="widget-control pull-right">
                    <a href="#" data-toggle="dropdown" class="btn dropdown-toggle"><i class="icon-plus"></i>
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Create")"><i class="icon-plus"></i>Thêm Mới</a></li>
                    </ul>
                </div>
            </div>
            <div class="widget-content">
                <div class="widget-box">
                    <table class="data-tbl-tools table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>
                                    Ngày Nhập
                                </th>
                                <th>
                                    Số Lượng
                                </th>
                                <th>
                                    Sách
                                </th>
                                <th>
                                    Chức Năng
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.KhoHangID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NgayNhap)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SoLuongNhap)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sach.TenSach)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Details", "KhoHang", new { id = item.KhoHangID })" class="color-icons find_co" title="Xem Chi Tiết"></a> 
                                        <a href="@Url.Action("Edit", "KhoHang", new { id = item.KhoHangID })" class="color-icons hammer_screwdriver_co" title="Sửa"></a> 
                                        <a href="@Url.Action("Delete", "KhoHang", new { id = item.KhoHangID })" class="color-icons cross_co" title="Xóa"></a> 
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>