@model DA_WebBanSach.Models.ConfirmModel
@{
    ViewBag.Title = "QuenMatKhau";
}

<div class="box_book">
    <div class="box_book_title">
        <a>Quên Mật Khẩu</a>
    </div>
    <div class="box_book_area" style="padding: 15px 0px 15px 15px; width: 665px">
            
            <div class="form">
            @using (Html.BeginForm("QuenMatKhau", "Account", FormMethod.Post, new { id = "contactform" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <p class="contact"><label for="matkhau">Email</label></p> 
    			@Html.TextBoxFor(m => m.Email, new { placeholder="example@domain.com", tabindex="1" })        
   			    @Html.ValidationMessageFor(m => m.Email)
                <br>
                <input class="buttom" name="submit" id="submit" tabindex="5" value="Gửi" type="submit">
            }
            </div>
            @ViewBag.Error
    </div>
</div>