@model DA_WebBanSach.Models.ResetPasswordModel
@{
    ViewBag.Title = "Nhập Mật Khẩu Mới";
}

<div class="box_book">
    <div class="box_book_title">
        <a>Nhập Mật Khẩu Mới</a>
    </div>
    <div class="box_book_area" style="padding: 15px 0px 15px 15px; width: 665px">
        <div class="content" style="float: left">
            <div class="form">
            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { id = "contactform" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(m => m.ChuoiConfirm)
                <p class="contact"><label for="matkhau">Mật Khẩu</label></p> 
    			@Html.PasswordFor(m => m.NewPassword, new { placeholder="Mật Khẩu", tabindex="1" })        
   			    @Html.ValidationMessageFor(m => m.NewPassword)
        
                <p class="contact"><label for="laplaimatkhau">Nhập Lại Mật Khẩu</label></p> 
    			@Html.PasswordFor(m => m.ConfirmPassword, new { placeholder="Nhập Lại Mật Khẩu", tabindex="2" })        
   			    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                <br>
                <input class="buttom" name="submit" id="submit" tabindex="5" value="Lưu Mật Khẩu Mới" type="submit">
            }
            </div>
         </div>
    </div>
</div>

