@model DA_WebBanSach.Models.TacGia

@{
    ViewBag.Title = "Thêm Sách Vào Tác Giả";
    
}

<ul class="breadcrumb">
      <li><a href="@Url.Action("Index","Home")">Quản Lý</a><span class="divider">&raquo;</span></li>
      <li><a href="@Url.Action("Index","TacGia")">Tác Giả</a><span class="divider">&raquo;</span></li>
      <li>Thêm Sách Vào Tác Giả</li>
</ul>

@ViewBag.Error

@using (Html.BeginForm())
{
<div class="row">
    <div class="span12">
        <div class="widget-block">
            <div class="widget-head">
                <h5>
                    Tác Giả: @Html.DisplayTextFor(model=>model.TenTG)
                    @Html.HiddenFor(model=>model.TacGiaID)
                    <button type="submit" class="btn btn-success">Thêm</button>
                </h5>
            </div>
            <div class="widget-content">
                <div class="widget-box">
                    <table class="data-tbl-boxy table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    Mã
                                </th>
                                <th>
                                    Tên Sách
                                </th>
                                <th>
                                    Đơn Giá
                                </th>
                                <th>
                                    Ảnh Bìa
                                </th>
                                <th>
                                    Số Lượng Tồn
                                </th>
                                <th>
                                    Nhà Xuất Bản
                                </th>
                                <th>
                                    Chức năng
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DA_WebBanSach.Models.Sach item in ViewBag.Saches)
                            {
                                <tr>
                                    <td><input type="checkbox" name="qty@{@item.SachID}" /></td>
                                    <td>
                                        @Html.DisplayFor(modelItem=>item.SachID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TenSach)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DonGia)
                                    </td>
                                    <td>
                                        <img src="~/Images/Sach/@Html.DisplayFor(modelItem => item.AnhBia)" width="50px" height="70px" /> 
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SoLuongTon)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NhaXuatBan.TenNXB)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Details", "Sach", new { id = item.SachID })" class="color-icons find_co" title="Xem Chi Tiết"></a> 
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>   
                </div>
            </div>
        </div>
    </div>
</div>
}